@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap');
@import '../fonts/stylesheet.css';
@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  background: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  margin: 0;
}



[data-reach-dialog-overlay] {
  z-index: 100000;
}
