@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap');
@import '../fonts/stylesheet.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}
body {
  zoom: 0.9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: background 0s, colors 0s !important;
}
p {
  margin: 0;
}

[data-reach-dialog-overlay] {
  z-index: 100000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.ant-layout-header {
  background: unset;
}
